{% extends 'talks/base.html' %}

{% block content %}
<!-- .header-bottom-wrapper -->
<div class="header-bottom-wrapper">
    <div class="container">
        <div class="row">
            <!-- Page Head -->
            <div class="page-head col-lg-12">
                <h2 class="page-title">Gallery</h2>
            </div>
            <!-- End Page Head -->
        </div>
    </div>
</div><!-- End of .header-bottom-wrapper -->

<!-- page-container -->
<div class="page-container container">
 
    <!-- Gallery Filter -->

    <div id="gallery-container">
        <div class="row gallery-4-columns isotope clearfix">
           
            {% for photo in pics %}
            <div class="gallery-item isotope-item issues  col-lg-3 col-md-3 col-sm-3 col-xs-6">
                <figure>
                    <a class="zoom swipebox" href="{{photo.image.url}}" title="{{photo.title}}"></a>
                    <div class="media_container"></div>
                    <img src="{{photo.image.url}}" alt="{{photo.title}}" width="346px" height="200px">
                </figure>
            </div>
        {% endfor %}

        		
        </div>


    </div>


    <div class="pagination">
    <span class="step-links">
        {% if pics.has_previous %}
            <a href="?page={{ pics.previous_page_number }}">PREVIOUS</a>
        {% endif %}

        <span class="current">
            Page {{ pics.number }} of {{ pics.paginator.num_pages }}.
        </span>

        {% if pics.has_next %}
            <a href="?page={{ pics.next_page_number }}">NEXT</a>
        {% endif %}
    </span>
</div>


</div><!-- End of .page-container -->

{% endblock  %}
